header {
    width: 1020px;
    margin: 0 auto;
}

.firstTob_bar{
    position: relative;
    width: 100%;
    height: 30px;
    letter-spacing: -.005em;
}

.header_top{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.f_writing{
    font-size: 12px;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.secondTop_bar{
    height: 90px;
    width: 1020px;
    white-space: nowrap;
}

.logo{
    float: left;
    margin-top: 22px;
}


.input_bigbox{
    float: left;
    position: relative;
    width: 340px;
    height: 40px;
    margin: 22px 0 0 50px;
    border: 1px solid #82dc28;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.input_box {
    
    border:none; /* 기본 테두리 추가 */
    outline: none; /* 포커스 시 외곽선 제거 */
    margin-left: -30px;
}


.search_icon{
    position: relative;
    left: 10px;
    top: 12px;
}

.sec_option{
    float: right;
    margin-top: 10px;
}


.s_writing{
    font-size: 14px;
    color: #333;
    text-decoration: none;
    float: left;
    position: relative;
    height: 65px;
    padding-top: 22px;
}

.fa-truck, .fa-caret-down{
    color: #8f8f8f;
}

.s_writing:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
}


.main{
    width: 1020px;
    margin: 0 auto;
    position: relative;
    overflow: hidden; /* .main의 범위를 넘어서는 부분 숨김 */
}

.menu_bar {
    position: relative;
    width: 100%;
    min-width: 1020px;
    height: 47px;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    writing-mode: horizontal-tb;
}

.m_writing{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    margin-right: 25px;
    font-size:15px;
}

.m_writing:hover{
    color: rgb(255, 39, 39);
    text-decoration: underline;
    text-underline-offset: 7px;
}


.category {
    width: 150px;
    height: 44px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.fa-bars{
    margin-right: 10px;
}

.all_hr { 
    width: 100%; /* 화면 전체 너비 */
}

.main_content {
    position: relative;
    width: 1020px;
    margin: 0 auto; /* 중앙 정렬 */
    height: 450px;
    overflow: hidden;
}

.sidebar {
    position: absolute;
    top: 46px;
    left: 0; /* 부모 요소의 가장 왼쪽에 위치 */
    height: 450px;
    background: rgba(51, 51, 51, .5);
    width: 200px;
    color: #fff;
    padding: 10px;
    z-index: 2; /* 배너 이미지보다 앞으로 오도록 설정 */
}

.on_sidebar {
    display: block;
    height: 24px; /* 행 높이를 줄여서 텍스트가 잘리지 않도록 함 */
    line-height: 24px; /* 행 높이에 맞춤 */
    padding: 0 15px; /* 패딩 조정 */
    font-size: 12px; /* 글씨 크기 조정 */
    color: #fff;
    font-weight: 700;
}

.content_area {
    flex-grow: 1;
    padding-left: 220px; /* 사이드바의 너비를 고려한 패딩 */
}

hr {
    border: none;
    height: 2px;
    background-color: lightgray;
    margin: 0;
    width: 100%;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0; /* 패딩을 줄여서 더 많은 텍스트가 보이도록 함 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    text-overflow: ellipsis; /* 넘치는 부분에 ... 표시 */
    font-size: 12px; /* 글씨 크기 조정 */
}

.sidebar a:hover {
    background-color: rgb(43, 43, 43);
}

.banner {
    display: block;
    position: relative;
    height: 450px;
    overflow: hidden;
}

.banner img {
    width: 100%; /* 배너의 너비에 맞춤 */
    height: auto; /* 이미지 비율 유지 */
    object-fit: cover; /* 이미지가 비율을 유지하면서 배너를 채우도록 함 */
}


.tab{
    margin-left: 3px;
}











.tab2{
    margin-left: 15px;
    margin-right: 15px;
}






/*이미지가 늘어났으면 좋겠음*/
.point_banner{
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center;
    width: 1250;
}


















.prd_container {
    display: flex;
    width: 1020px;
    margin: 0 auto;
}

.L_product_section, .R_product_section {
    flex: 1;
    position: relative;
}

.vertical_separator {
    width: 1px;
    background-color: #d2d2d2;
    margin: 0 30px;
}


.L_product, .R_product {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.R_product {
    display: flex;
    justify-content: space-between;
    position: relative;
   
}

.prd_img {
    width: 215px;
    height: 215px;
}

.title_w {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    text-align: center;
}

.plus_w {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: rgb(131, 131, 131);
}

.prd_name {
    overflow: hidden;                /* 넘치는 내용을 숨김 */
    height: 36px;                    /* 높이를 텍스트의 크기와 줄 간격에 맞게 조정 */
    width: 215px;                    /* 너비를 215px로 설정하여 이미지와 일치시킴 */
    padding: 2px 0;                 /* 상하 여백을 2px로 설정 */
    -webkit-box-orient: vertical;    /* Flexbox 방향을 수직으로 설정 */
    line-height: 18px;               /* 줄 간격을 18px로 설정 */
    text-overflow: ellipsis;         /* 넘치는 텍스트를 '...'로 표시 */
    display: -webkit-box;            /* Flexbox를 사용하여 요소를 표시 */
    -webkit-line-clamp: 2;           /* 두 줄까지만 표시하고 나머지는 잘림 */
    word-break: keep-all;            /* 단어를 자르지 않고 전체를 유지 */
    color: #6c6c6c;                     /* 텍스트 색상을 검정으로 설정 */
    font-size: 14px;                 /* 글꼴 크기를 14px로 설정 */
    text-align: left;                /* 텍스트를 왼쪽 정렬 */
}

.bf_price {
    text-decoration-line: line-through;
    color: rgb(131, 131, 131);
    font-size: 15px;
}

.price {
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.price_set {
    display: flex;              /* Flexbox 레이아웃을 사용 */
    align-items: center;        /* 자식 요소들을 수직으로 가운데 정렬 */
}

.left-group {
    display: flex;              /* 왼쪽 그룹 요소를 Flexbox 레이아웃으로 설정 */
}

.shopping_i {
    margin-left: auto;          /* 남은 공간을 채워서 오른쪽으로 이동 */
    display: flex;              /* Flexbox 레이아웃을 사용 */
    align-items: center;        /* 아이콘을 수직으로 가운데 정렬 */
    margin-right: 8px;
}

.L_Lprd, .R_Lprd {
    margin-right: 30px;
}

.tab4 {
    margin-left: 50px;
}

.sale, .coupon, .presentation, .today_d {
    border-radius: 25px;
    font-size: 12px;
    color: white;
    padding: 0px 8px;
    margin-left: -3px;
    text-align: center;
}

.sale{
    width: 30px;
    background-color: rgb(255, 84, 84);
}

.coupon {
    width: 30px;
    background-color: #9bce26;
}

.presentation {
    width: 30px;
    background-color: #6fcff7;
}

.today_d {
    width: 60px;
    background-color: #f374b7;
}

.suggestion_but {
    text-align: center;
}

.suggestion_but2 {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 335px;
    height: 40px;
    background: 0 0;
    text-align: center;
    color: #6b6b6b;
    
}

.week_img {
    display: flex;                     /* Flexbox 레이아웃을 사용 */
    justify-content: center;          /* 이미지들을 가운데 정렬 */
    align-items: center;              /* 수직 가운데 정렬 */
    width: 1060px;                    /* 컨테이너의 너비를 1020px로 설정 */
    margin: 0 auto;                   /* 컨테이너를 수평 가운데 정렬 */
    overflow: hidden;                 /* 컨테이너의 범위를 넘는 부분을 숨김 */
}

.week_img_size {
    display: flex;                    /* Flexbox 레이아웃을 사용하여 자식 요소를 정렬 */
    width: 500px;                     /* 이미지의 너비를 500px로 설정 */
    height: 227px;                    /* 이미지의 높이를 227px로 설정 */
    margin: 10px 20px;                /* 이미지 간의 여백을 설정 */
    border-radius: 8px;              /* 이미지의 모서리를 둥글게 설정 */
    overflow: hidden;                /* 자식 요소가 부모 요소를 넘지 않도록 설정 */
}

.week_img_size img {
    width: 100%;                      /* 부모 요소의 너비에 맞게 이미지 크기 조정 */
    height: 100%;                     /* 부모 요소의 높이에 맞게 이미지 크기 조정 */
    object-fit: cover;                /* 이미지가 컨테이너에 맞게 잘림 */
    border-radius: inherit;          /* 부모의 border-radius를 상속받음 */
}



.pop_wbtn{
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}


.event_btn {
    display: flex;                     /* Flexbox 레이아웃을 사용 */
    justify-content: flex-end;        /* 자식 요소를 오른쪽 정렬 */
    width: 1020px;                    /* 컨테이너의 너비를 1020px로 설정 */
    margin: 0 auto;                   /* 수평 가운데 정렬 */
}



.small_btn{
    background-color: white;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    border: none;
    color: black; /* 기본 텍스트 색상 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.small_btn:hover {
    background-color: black;
    color: white;
  }
  

.pop_same, .only{
    display: flex;                     /* Flexbox 레이아웃을 사용 */
    justify-content: flex-end;        /* 자식 요소를 오른쪽 정렬 */
    align-items: center;              /* 자식 요소를 상하 가운데 정렬 */
    width: 1020px;                    /* 컨테이너의 너비를 1020px로 설정 */
    margin: 0 auto;                   /* 수평 가운데 정렬 */
    position: relative;  

}


.L_btn, .R_btn {
    display: block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100px;
    background-color: #c2c2c2;
    color: white;
    position: absolute;               /* 절대 위치 설정 */
}

.L_btn {
    left: -60px;                      /* 왼쪽으로 60px 이동 */
}

.R_btn {
    right: -60px;                     /* 오른쪽으로 60px 이동 */
}

.popularity_img {
    display: flex;                     /* Flexbox 레이아웃을 사용하여 이미지들을 가로로 정렬 */
    justify-content: center;          /* 이미지들을 가운데 정렬 */
    width: 1020px;                    /* 컨테이너의 너비를 1020px로 설정 */
    margin: 0 auto;                   /* 수평 가운데 정렬 */
    overflow: hidden;                 /* 컨테이너의 범위를 넘는 부분을 숨김 */
}

.popularity_img a {
    display: block;                   /* 링크를 블록으로 설정하여 이미지 크기와 위치 제어 */
    width: 500px;                     /* 링크의 너비를 500px로 설정 */
    height: auto;                     /* 링크의 높이는 자동으로 조정 */
    margin: 0 10px;                   /* 이미지 간의 여백을 설정 */
}

.popularity_img img {
    width: 100%;                      /* 이미지의 가로 크기를 부모 링크 요소에 맞게 설정 */
    height: auto;                     /* 이미지의 세로 크기는 비율에 맞게 자동 조정 */
    display: block;                   /* 이미지 주변의 여백 문제를 방지하기 위해 블록으로 설정 */
}


.only a {
    flex: 1;                          /* 각 링크 요소가 컨테이너의 가용 공간을 균등하게 차지하도록 설정 */
    text-align: center;               /* 이미지가 링크 내에서 가운데 정렬되도록 설정 */
    padding: 0 10px;                  /* 이미지 사이에 여백을 추가 */
}

.only img {
    width: 100%;                      /* 이미지가 부모 요소의 너비를 100%로 차지하도록 설정 */
    height: auto;                     /* 이미지의 높이는 자동으로 비율에 맞게 조정 */
    display: block;                   /* 이미지 주변의 여백 문제를 방지하기 위해 블록으로 설정 */
}



.AD{
    font-size: 13px;
    color: #8f8f8f;
    background-color: #efefef;
    padding: 10px;
    vertical-align:middle;
}


.MD, .main_footer, .footer_bar {
    display: flex;                     /* Flexbox 레이아웃을 사용하여 이미지들을 가로로 정렬 */
    justify-content: center;                    /* Flexbox 레이아웃을 사용 */
    flex-wrap: nowrap;
    margin: 0 auto;                 /* 자식 요소들을 줄바꿈 없이 한 줄에 배치 */
    width: 100%;
    width: 1020px;                      /* MD 컨테이너의 너비를 100%로 설정 */
}

.L_MD, .R_MD {
    display: flex;                   /* Flexbox 레이아웃을 사용 */
    align-items: flex-start;        /* 자식 요소들을 상단 정렬 */
    width: 48%;                      /* 각 요소의 너비를 48%로 설정 (두 개의 요소를 한 줄에 배치) */
    box-sizing: border-box;         /* 패딩과 테두리를 포함한 전체 너비 및 높이 계산 */
}

.MD_img {
    width: 50%;                      /* 이미지 영역의 너비를 50%로 설정 */
    margin-right: 20px;             /* 이미지와 텍스트 사이에 여백 추가 */
}

.MD_img img {
    width: 100%;                     /* 이미지가 컨테이너 너비에 맞게 설정 */
    height: auto;                    /* 이미지 비율에 맞게 높이 자동 조정 */
    display: block;                  /* 이미지 주변의 여백 문제를 방지하기 위해 블록으로 설정 */
}

.MD_same {
    width: 50%;                      /* 텍스트 영역의 너비를 50%로 설정 */
    display: flex;                  /* Flexbox 레이아웃을 사용 */
    flex-direction: column;         /* 자식 요소들을 수직으로 배치 */
    justify-content: space-between; /* 자식 요소들 간에 공간을 균등하게 배분 */
}

.custom_hr{
    width: 1300px;
    border-width:1px 0 0 0; 
    border-color: black;
}

.custom_hr2{
    width: 800px;
}


.service_center{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 30px;
}

.announcement{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 50px;
}

.gray_w{
    color: #8f8f8f;
    text-decoration: none;
}

.call{
    color: #81e220;
    font-size: 40px;
}


.call_all{
    margin: 0 20px;
}


.sc_img{
    margin-left: 100px;
}


.sc_btn1{
    margin-top: 30px;
    width: 150px;
    height: 70px;
    border: none;
    background-color: #8f8f8f;
    color: white;
}

.ft_writing {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.all_container2{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}


.CJ_btn{
    margin-left: 100px;
    background-color: #ffffff;
    border: #878787;
}

.f_container, .menu_bar {
    width: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
}





.footer_2{
    display: flex;
    justify-content: center;
}


.footer_bar {
    color: #666666;
    background-color: #f5f5f5;
    width: 1500px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
}

.ft_writing{
    margin-right: 30px;
    margin-top: 8px;
}

.custom-hr {
    margin: 0; /* 상하 여백 제거 */
}



.un_line{
    color: black;
}


.caution{
    margin: 50px 0px 50px 300px;
}

.L_footer{
    margin-right: 1000px;
}
